---
layout: default
title: "Gustav Holmberg"
---

<div class="grid grid-cols-1 sm:grid-cols-2 gap-7 my-10 mx-6">
    <img class="rounded-full" src="img/gustav_holmberg.jpg" alt="Gustav Holmberg">
    <div class="self-center">
        <h2 class="text-5xl self-center">Hello! <br> I'm <span class="text-red-500">Gustav Holmberg</span></h2>
        <p class="my-3 text-lg">
            A technology nerd and developer from Sweden who always wants to learn more. 
    </div>
</div>

{% include about.html %}

{% include projects.html %}

{% include contact.html %}
