<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link href="/output.css" rel="stylesheet">
</head>
<body class="grid grid-rows-[auto_1fr_auto] min-h-screen bg-black text-white">
    <header class="flex justify-start p-3 bg-black sm:justify-center hover:bg-red-950 transition duration-300">
        <h1 class="text-4xl sm:text-6xl">Gustav Holmberg</h1>
    </header>
    <main class="max-w-sm sm:max-w-6xl mx-auto">
        {{ content }}
    </main>
    <footer class="bg-indigo-950 sm:bg-black sm:hover:bg-indigo-950 transition duration-300 text-center p-3 mt-3">
        © 2025 Gustav Holmberg
    </footer>
</body>
</html>
