<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link href="/output.css" rel="stylesheet">
    <link href="/img/favicon.svg" rel="icon">
</head>
<body class="grid grid-rows-[auto_1fr_auto] min-h-screen text-white font-[Funnel_Sans] bg-gradient-to-r from-black xl:from-gray-900 via-black to-black xl:to-gray-900 transition duration-300">
    <header class="flex justify-start p-3 sm:justify-center">
        <h1 class="text-3xl text-red-500 w-3/4 sm:w-lg"><img src="img/logo.svg" alt="Holmberg"></h1>
    </header>
    <main class="max-w-sm sm:max-w-6xl mx-auto">
        {{ content }}
    </main>
    <footer class="text-center p-3 mt-3">
        © 2026 Gustav Holmberg
    </footer>
</body>
</html>
