<div class="my-3 mx-6 text-lg sm:grid sm:grid-cols-2 items-center">
    <div>
        <h2 class="text-4xl text-center"><span class="text-red-500">Who</span> am I?</h2>
        <p>
            Glad that you asked! I am a junior software developer based in Uppsala, Sweden. My interests range from theatre to scouting to almost all things tech. My real projects have mostly been in <span class="text-red-500 font-semibold">HTML</span>, <span class="text-red-500 font-semibold">CSS</span> and <span class="text-red-500 font-semibold">JavaScript</span> but I have also worked with <span class="text-red-500 font-semibold">Python</span>, <span class="text-red-500 font-semibold">arduino</span> and <span class="text-red-500 font-semibold">Lua</span>. 
        </p>
    </div>
    <img src="img/workstation.jpg" class="rounded-full hidden sm:block">
</div>
