<div class="grid grid-cols-1 sm:grid-cols-2 gap-7 my-10 mx-6">
    <img class="rounded-full" src="img/gustav_holmberg.jpg" alt="Gustav Holmberg">
    <div class="self-center">
        <h2 class="text-5xl self-center">Hello! <br> I'm <span class="text-red-500">Gustav Holmberg</span></h2>
        <p class="my-3 text-lg">
            A technology nerd and developer from Sweden who always wants to learn more. 
    </div>
</div>
<div class="my-10 mx-6 text-lg sm:grid sm:grid-cols-2 gap-7 items-center">
    <div>
        <h2 class="text-4xl text-center pb-2"><span class="text-red-500">Who</span> am I?</h2>
        <p>
            Glad that you asked! I am a junior software developer based in Uppsala, Sweden. 
            My interests range from theatre to scouting to almost all things tech. 
            My real projects have mostly been in <span class="text-red-500 font-semibold">HTML</span>, 
            <span class="text-red-500 font-semibold">CSS</span> and <span class="text-red-500 font-semibold">JavaScript/TypeScript</span> 
            but I have also worked with <span class="text-red-500 font-semibold">Python</span>, 
            <span class="text-red-500 font-semibold">arduino (C++)</span> and <span class="text-red-500 font-semibold">Lua</span>. 
        </p>
    </div>
    <img src="img/workstation.jpg" class="rounded-full hidden sm:block">
</div>
