<div class="grid grid-cols-1 sm:grid-cols-2 gap-7 my-10 mx-6">
    <img class="rounded-full" src="img/gustav_holmberg.jpg" alt="Gustav Holmberg">
    <div class="self-center">
        <h2 class="text-5xl self-center">Hello! <br> I'm <span class="text-red-500">Gustav Holmberg</span></h2>
        <p class="my-3 text-lg">
            A technology nerd and developer from Sweden who always wants to learn more. 
    </div>
</div>
<div class="flex gap-5 justify-center ">
    <a href="#projects" class="p-3 font-bold text-red-500 hover:bg-red-500 hover:text-black rounded-md border-2 border-red-500 transition duration-300"><div>See my projects</div></a>
    <a href="#contact" class="p-3 font-bold hover:bg-white hover:text-black rounded-md border-2 border-white transition duration-300"><div>Get in contact</div></a>
</div>
<div class="my-10 mx-6 text-lg sm:grid sm:grid-cols-2 gap-7 items-center">
    <div>
        <h2 class="hidden sm:block text-4xl text-center pb-2"><span class="text-red-500">Who</span> am I?</h2>
        <p>
        <span class="hidden sm:inline">Glad that you asked! </span>I am a junior software developer based in Uppsala, Sweden. 
        I would describe myself as a Jack of all trades. I am an active scout and percussionist (Drummer). 
        My biggest passion is theatre and I do work in technical theatre and AVL-technology. 
        Other interests of mine include geography, languages and of course all things IT and electronics. 
        </p>
    </div>
    <img src="img/workstation.jpg" class="rounded-full hidden sm:block">
</div>
