<div id="contact" class="my-10 mx-6 max-w-sm sm:mx-auto text-lg">
    <h2 class="text-4xl text-center pb-2">Contact <span class="text-red-500">me</span></h2>
    <p>
        I am always open for new projects. Feel free to send a message and I'll answer as soon as I can. 
    </p>
    <ul class="my-3 text-lg">
        <li>
            email: <a href="mailto:gustavholmberg.dev@gmail.com" class="sm:hover:underline">gustavholmberg.dev@gmail.com</a>
        </li>
        <li>
            github: <a href="https://github.com/gustav-lastname" target="_blank" class="sm:hover:underline">gustav-lastname</a>
        </li>
    </ul>
</div>
