<div class="my-6 sm:my-3 mx-6 max-w-sm sm:mx-auto">
    <h2 class="text-4xl text-center">Contact me</h2>
    <p>
        I am always open for new projects. Feel free to send a message and I'll answer as soon as i can. 
    </p>
    <ul class="my-3 text-lg">
        <li>
            mail: <a href="mailto:gustavholmberg.dev@gmail.com" class="sm:hover:underline">gustavholmberg.dev@gmail.com</a>
        </li>
        <li>
            github: <a href="https://github.com/gustav-lastname" target="_blank" class="sm:hover:underline">gustav-lastname</a>
        </li>
    </ul>
</div>
